<div class="row">
  <% @following.each do |user| %>

    <div class="col-lg-4">
      <div class="card">
        <%= render partial:"user_card_header", locals: { user: user }%>
        <div class="card-body">
          Email:<p class="card-text text-muted"><%= user.email %></p>
          Telefone:<p class="card-text text-muted"><%= user.phone %></p>
          <%= link_to("Deixar de seguir", user_unfollow_path(user), data: { "turbo-method": :post }, class: "btn btn-danger")%>
        </div>
      </div>
    </div>

  <% end %> 

</div>  